<h1>Products</h1>

<!--<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>-->

<div *ngIf="products">
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile *ngFor="let product of products">
            <h1 [routerLink]="['/productdetail', product.id]">{{product.name}}</h1>
        </mat-grid-tile>
    </mat-grid-list>
</div>
